.VegaTabs {
  position: relative;

  &__ScrollLeft,
  &__ScrollRight {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 32px;
    padding-left: 12px;
  }

  &__ScrollLeft {
    left: 0;
  }

  &__ScrollRight {
    right: 0;
  }

  &__Inner {
    width: 100%;
    overflow: hidden;
    margin-bottom: -30px;
  }

  &__InnerContent {
    overflow-x: auto;
    padding-bottom: 30px;
  }
}
